html, body{
    width: 100%;
}
h1, h2 {
    font-weight: normal;
}
img {
    display: block;
    border: 0;
}
span{
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    display: block;
    border: 0;
}
a{
    display: block;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.wrap-table-email {
    width: 100%;
    max-width: 900px;
    padding: 0;
}
.wrap-td-header, .wrap-td-content1{
    padding-left: 150px;
    padding-right: 150px;
    font-family: Arial, Helvetica, sans-serif;
}
.wrap-td-header{
    padding-top: 60px;
    background: url("https://lh3.googleusercontent.com/s-nZAkQU4yVD6rOQBGma75MLAvmLN9RNfbP5UuxMzUpwXm5HsxGVhvPb1DkvFp_I9XJlYW1-j9V2P1otylkJPL-NLgnTaNwUJMKGpuOUxuUYyVkjx2FsOO0cAC49ZKmAVZLxwKXFvwKAoeMOjM0uFXrTa9eJugniH7xC-ylzFuHnxbSAKCSHNOcUV1dMAfDoDSdGLJn-Ix07s_pgyz_wa6RyzEUMZtTVKDZS0GgReNJPO7xOi5-xEtECM1AIZNINJ5qeEFZNb7_oJS8IkV7ykiHcb0QoPa36UF0XCAypzeAomAg_NXRY2nQ5P6NLsEJukRxfp4x6Yl6tpEdAtO_fU4cFjXvErBFRiZeMX80PeUnFRZ8_OByXtzG_WsMdFxL6eWRkLq2maVQ1fohqDYD6Rbgr8usfLVA2uUty7CZMH6uou-te9KkBfL2cXjLcLuZoV5uwMZqHVtUDnugUN5kqiVGeVSThp4uYo0hAxqjbIhxRurIgv1nflPQQ80Rs1pRKjjlJwP2oHtODTUBA8Xp4RPiF4Gt_Mw9akd_fa3LiiL4I42cW17qlL8LQO2d9VNN6TS8LcTn8csEziJXFNnVnax7H1D5QQ67Q0PP5RKE1ofEENXgHF2gZhUPomBHXDcygJv4Vt-YFSsGaznd_dwD46koYzSADuYpXc6Db0vCzda36=w900-h561-no");
    font-size: 13px;
    color: #ffffff;
    letter-spacing: 1px;
}

.table-header{
    width: 100%;
}

.td-main-header{
    font-size: 16px;
}

.blue-td{
    color: #82ffef;

}
.gray-td{
    color: #9ba6a9;
    line-height: 18px;
}
.red-button{
    background: #cc2936;
    width: 150px;
    border-radius: 2px;
}
.link-red-button{
    color: #ffffff;
}

a.link-red-button > span{
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;
        font-size: 14px;
        line-height: 40px;
        display: block;
}
a.link-red-button{
    line-height: 40px;
    height: 40px;
}


.td-header-h2{
    font-size: 18px;
}

.content2{
    font-size: 13px;
    line-height: 22px;
}
.border-but {
    background: transparent;
    border: 1px solid #9ba6a9;
}

a.link-border-button{
    color: #242424;
}

.three-buttons{
    width: 290px;
    background: #f1f1f2;
}

.three-buttons-links{
    height: 120px;
}

.three-buttons-links > span {
    font-size: 16px;
    color: #242424;
    line-height: 40px;
}